Case Project 3-6
Your supervisor has asked you to list the acquisition tools available on a forensic Linux Live
CD. Download the current ISO version of Deft (www.deftlinux.net), CAINE (www.caine-live.net),
Kali Linux (www.kali.org), or Penguin Sleuth (www.linux-forensics.com), and then create a
bootable CD or DVD of it. Start it on your workstation and survey its tools. Then write a oneto
two-page report containing a brief description of each acquisition utility on the CD or DVD.

Case Project 3-2
At a murder scene, you have started making an image of a computer’s drive. You’re in the
back bedroom of the house, and a small fire has started in the kitchen. If the fire can’t be
extinguished, you have only a few minutes to acquire data from a 10 GB hard disk. Write one
to two pages outlining your options for preserving the data.

Case Project 3-3
You need to acquire an image of a disk on a computer that can’t be removed from the scene,
and you discover that it’s a Linux computer. What are your options for acquiring the image?
Write a brief paper specifying the hardware and software you would use.

Case Project 3-4
A bank has hired your firm to investigate employee fraud. The bank uses four 20 TB
machines on a LAN. You’re permitted to talk to the network administrator, who is familiar
with where the data is stored. What diplomatic strategies should you use? Which acquisition
method should you use? Write a two-page report outlining the problems you expect to
encounter, explaining how to rectify them, and describing your solution. Be sure to address
any customer privacy issues.

Case Project 3-5
You’re investigating a case involving a 2 GB drive that you need to copy at the scene. Write
one to two pages describing the three types of acquisitions—physical, logical, and sparse—
you can use to copy the drive accurately. Be sure to include your software and media choices.

Case Project 3-6
Your supervisor has asked you to list the acquisition tools available on a forensic Linux Live
CD. Download the current ISO version of Deft (www.deftlinux.net), CAINE (www.caine-live.net),
Kali Linux (www.kali.org), or Penguin Sleuth (www.linux-forensics.com), and then create a
bootable CD or DVD of it. Start it on your workstation and survey its tools. Then write a oneto
two-page report containing a brief description of each acquisition utility on the CD or DVD.
Copyright 2019

Case Project 3-3
You need to acquire an image of a disk on a computer that can’t be removed from the scene,
and you discover that it’s a Linux computer. What are your options for acquiring the image?
Write a brief paper specifying the hardware and software you would use.
